<div class="profile-sidebar">

  <div class="profile-userpic">
    <img src="https://randomuser.me/api/portraits/women/81.jpg"
         class="img-responsive" alt="">
  </div>

  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      {{user.name}}
    </div>
    <div class="profile-usertitle-job">
      {{user.role}}
    </div>
  </div>

  <div class="profile-userbuttons">
    <button type="button" class="btn btn-success btn-sm" (click)="edit()">Edit</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()">Delete</button>
  </div>

  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active">
        <a [routerLink]="['/orders',user._id]">
          <i class="glyphicon glyphicon-home"></i>Orders <span class="badge">{{user.orders.length}}</span></a>
      </li>
      <li>
        <a [routerLink]="['/analysis',user._id]">
          <i class="glyphicon glyphicon-home"></i>Analysis</a>
      </li>

    </ul>
  </div>

</div>

